<body>
<div class="card-body text-primary" style="margin-top: px;">
</div>

<div class="jumbotron">

    <div class="row">
        <label style="font-size:40px;"><b>PAYMENT GATEWAY</b></label>
    </div>

    <div class="row">
        <button type="button" class="btn btn-success" style="height: fit-content; width: fit-content; font-size: 30px;"(click)="btnClick();">
    </button>
    </div>
    <div class="row">
        <label style="font-size: 25px">This amount will be deducted from your back account</label><br>
      </div></div>

      <footer>
        <div class="copyright">
            <div id="copyright"><i class="fa fa=copyright" aria-hidden="true"></i>
                copyright MyMovies.Thilaga</div>
                </div>
                <div class="social">
                    <a href="a" class="fa fa-linkedin"></a>
                    <a href="a" class="fa fa-pinterest"></a>
                    <a href="a" class="fa=fa-reddit"></a>
                    </div>
                    </footer>

                    </body>

