<body>
    <div class="card-body text-primary" style="margin-top:0">
        </div>
        <div class="jumbotron">
            <label style="font-size: 50px;"><b>Ticket</b></label>
            <div class="row">
                <div class="col">
                    
                    <img src="https://s1.dmcdn.net/v/UACsk1Z1zciubDWmw/x1080" style="height: 30%; width: 30%; color: peachpuff;"/>
                    <label style="font-size: 25px;"><b>Seat No: s-20<p>SCREEN: 1,9:00AM</p>
                        </b></label>
                        </div>
                        </div>
                        </div>
                        

                        <div class="card-footer bg-transperent border-info">
                            @copyright 2023 prepared By: Thilaga
                            </div>
                            </body>