.form1,.form2{
    padding-top: 20px;
}

.button1,.button2{
    text-align: center;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    min-width: 50px;
    min-height: 20px;
}

body{
    background-color: lightcyan;
    max-width: 100%;
    min-height: 800px;
    height: auto !important;
    height: 400px;
}

h2{
    text-align: center;
    color: blueviolet;
}

.thead-dark{
    color: RED;
}