<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
<body> 
    <h2><i><u>List of Movies</u></i></h2>
   <table class="table">
    <thead class="thead-dark">
        <tr><th><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Id</th>
            <th><i class="fa fa-film" aria-hidden="true"></i>
                moviename</th>
            <th><i class="fa fa-language" aria-hidden="true"></i>
                language</th>
            <th><i class="fa fa-ticket" aria-hidden="true"></i>
                Genres</th>
            <th><i class="fa fa-film" aria-hidden="true"></i>
                Theatre</th>
            <th><i class="fa fa-clock-o" aria-hidden="true"></i>
                Showtime</th> 
            <th><i class="fa fa-calender" aria-hidden="true"></i>
                Showdate</th> 
            <th><i class="fa fa-bars" aria-hidden="true"></i>
                Available</th>
            <th><i class="fa fa-inr" aria-hidden="true"></i>
                Price</th> 
            <th><i class="fa fa-crash-o" aria-hidden="true"></i>
                action</th>   
                </tr></thead>
                <tbody>
                    <tr *ngFor="let movie of movies">
                        <td>{{movie.movieid}}</td>
                        <td>{{movie.moviename}}</td>
                        <td>{{movie.language}}</td>
                        <td>{{movie.genres}}</td>
                        <td>{{movie.theatre}}</td>
                        <td>{{movie.showtime}}</td>
                        <td>{{movie.showdate}}</td>
                        <td>{{movie.available}}</td>
                        <td>{{movie.price}}</td>
                        <td>
                            <button (click)="deletemovie(movie.movieid)">delete</button>
                        </td>
                            </tr>
                            </tbody>
                            </table>             
</body>
</html>

